$white: #FFFFFF;
$sky: rgba(58, 232, 245, 0.74);

html {
    background-color: $white;
    
}
body{
    background-color: $white;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-family: 'Droid Serif', serif;
    padding-left: auto;
}

// ********************************************************
// **************************NAVBAR************************
// ********************************************************

nav {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-family: 'Droid Serif', serif;
    list-style-type: none;
    overflow: hidden;
    padding-left: auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

li { 
    display: inline; 
}

// ********************************************************
// **************************LOGO**************************
// ********************************************************

.logo-icon {
    width: 10%;
    height: auto;
    margin: 0 5px;
}

// ********************************************************
// **************************GIF***************************
// ********************************************************

.gif {
    max-width: 100%;
    height: auto;
    justify-content: center;
}

// ********************************************************
// **************************USER CARDS********************
// ********************************************************

.allUserCards {
    // border-style: solid;
    // background-color: $sky;
    // border-width: 1px;
    // border-radius: 1px;
    // justify-content: center;
    // align-items: center;
    padding: 2px auto 2px auto;
    margin: 2px auto 2px auto;
}

#cardsMasterDiv {
    display: inline-flex;
    // padding: 1rem;
    margin: 0;
    box-shadow: 0 1rem 2rem 0 #9f9f9f;   
    border-style: outset;
    background-color: $white;
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding-left: auto;

}
// card images
.allUserImage {
    max-width: 95%;
    height: auto;
    padding-left: auto;
    padding: 4px auto 2px auto;
    margin: 4px auto 2px auto;
    
}
// images notes
.allImageNotes {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-family: 'Droid Serif', serif;
    justify-content: center;
    align-items: center;
    // padding-left: auto;

}

#shutterBtn {
    padding-left: auto;
    justify-content: center;
}