$cream: #BBBBBD;
$x: #77fee7;
$b: #ffdf72;
$y: #cbaacc;
$c: #b062b2;

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }

body{
    background-color: $cream;
}

h1 {
    text-align: center;
}

.navbar-default {
    background-color: $x;
}

.btn-info {
    color: $x;
    background-color: $x;
    border-color: #46b8da;
}
.main-container {
    border: 2px dashed $x;
}
.container--auth {
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid #ccc;
}