
<div class="container container--auth">
    <!-- **********************************************************************
    ****************************Nav Bar************************************
    ********************************************************************** -->>
    <div ng-include="'partials/navbar.html'"></div>
        
    <!-- **********************************************************************
    ****************************Scene************************************
    ********************************************************************** -->
    <div class="col-xs-9">
        <img src="images/scene.gif">
    </div>

    <!-- **********************************************************************
    ****************************SLIDERs************************************
    ********************************************************************** -->
    
        <!-- ANOTHER TEST SLIDER -->
        <div>
        Aperture
                <rzslider rz-slider-model="apertureSlider.value"
            rz-slider-options="apertureSlider.options"></rzslider>
            <br>
            <br>
            <br>
            <br>
            Shutter Speed
                <rzslider rz-slider-model="shutterSpeedSlider.value"
            rz-slider-options="shutterSpeedSlider.options"></rzslider>
            <br>
            <br>
            <br>
            <br>
            ISO
                <rzslider rz-slider-model="isoSlider.value"
            rz-slider-options="isoSlider.options"></rzslider>  
        </div>
    <!-- **********************************************************************
    ****************************shutter Btn************************************
    ********************************************************************** -->
    <input type="image" src="images/shutterBtn.jpeg" alt="Submit">
    <br> Press Me, I'm the shutter button.
    

    
</div>