<!-- // **********************************************
//     Controls: Gif Scene, buttons, cards. 
// ********************************************** -->

<div  class="container">

    <!-- **********************************************************************
    ****************************Scene************************************
    ********************************************************************** -->
    <!-- <div class="col-md-6"> -->
    <div col-md-12 col-xs-12>
        <img class="gif" src="images/scene.gif">
    </div>

    <!-- **********************************************************************
    ****************************SLIDERs************************************
    ********************************************************************** -->
    
        <!-- <div class="col-md-6"> -->
        <div class="col-md-12 col-xs-12">
        Aperture:
                <rzslider rz-slider-model="apertureSlider.value"
            rz-slider-options="apertureSlider.options"></rzslider>
            <br>
   
            Shutter Speed:
                <rzslider rz-slider-model="shutterSpeedSlider.value"
            rz-slider-options="shutterSpeedSlider.options"></rzslider>
            <br>
   
            ISO:
                <rzslider rz-slider-model="isoSlider.value"
            rz-slider-options="isoSlider.options"></rzslider>  
        </div>
    <!-- **********************************************************************
    ****************************SHUTTER Btn************************************
    ********************************************************************** -->

   
    <div>
        <button class="col-md-4 col-xs-6" id="shutterBtn" ng-click="shutterClickFunction()" type="image" src="images/shutterBtn.jpeg" alt="Submit">
            {{submitButtonText}}Shutter Button</button>
    </div>
    <br>
   


    <!-- **********************************************************************
    ****************************FIREBASE Cards*********************************
    ********************************************************************** -->
    <div id="cardsMasterDiv" class="col-md-6 col-xs-12" ng-repeat="items in cardSource">
        <div class="allUserCards">
        <!-- Users Image -->
            <img ng-src="{{items.image}}" class="allUserImage">
            
            <div class="notes">
                <div class="allImageNotes">
                        <!-- Image Notes:  -->                     
                                          
                    <p>Aperture - ƒ: {{items.aperture}}</p>
                    <p>Shutter Speed: {{items.shutterSpeed}}</p>
                    <p>ISO: {{items.iso}}</p>
                    <!-- <p>{{items.exposure}}</p> -->
                    <!-- <p>{{items.imageNotes}}</p> -->
                </div>
                    
                    <!-- USER ADDED NOTES -->
                <!-- <div>
                        User Notes: 
                    <input type="text">
                    <p ng-model="image.userNotes" ng-src="{{image.userNotes}}"></p>
                </div> -->
            </div> 
                
                <!-- KEEP/DELETE BUTTONS -->
            <div class"cardBtns">
                <!-- <button class="keepItBtn" ng-click="()">Keep</button> -->
                <button class="deleteBtn" ng-click="deleteCard(items.cardId)">
                        
                <!-- <button id="deleteBtn" ng-click="deleteCard({{items.cardId}})"> -->
                    Delete
                </button>
            </div>
        </div>
    </div>

    <p>&copy; 2017 Daniel Babcock.</p>
    
</div>


