<!-- // **********************************************
//     Controls: Gif Scene, buttons, cards. 
// ********************************************** -->

<div  class="container container--auth">
        <!-- onload="getAllCards()" -->

    <!-- **********************************************************************
    ****************************Scene************************************
    ********************************************************************** -->
    <div class="col-xs-9">
        <img src="images/scene.gif">
    </div>

    <!-- **********************************************************************
    ****************************SLIDERs************************************
    ********************************************************************** -->
    
        <div>
        Aperture
                <rzslider rz-slider-model="apertureSlider.value"
            rz-slider-options="apertureSlider.options"></rzslider>
            <br>
            <br>
            <br>
            <br>
            Shutter Speed
                <rzslider rz-slider-model="shutterSpeedSlider.value"
            rz-slider-options="shutterSpeedSlider.options"></rzslider>
            <br>
            <br>
            <br>
            <br>
            ISO
                <rzslider rz-slider-model="isoSlider.value"
            rz-slider-options="isoSlider.options"></rzslider>  
        </div>
    <!-- **********************************************************************
    ****************************SHUTTER Btn************************************
    ********************************************************************** -->
    <br>
    <br>
    <br>
    <br>
    <div>
        <button id="shutterBtn" ng-click="shutterClickFunction()" type="image" src="images/shutterBtn.jpeg" alt="Submit">
            {{submitButtonText}}Shutter Button</button>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- **********************************************************************
    ****************************image cards************************************
    ********************************************************************** -->
    <div class="container" ng-repeat="(index, image) in repeatLoop">
        <div class="userCard">
        <!-- Users Image -->
            <img ng-model="image.image" ng-src="{{image.image}}" class="userImage">
            
            <div class="notes">
                <div>
                        Image Notes: 
                    <p ng-model="imageNotes.imageNotes" ng-src="{{imageNotes.imageNotes}}"></p>
                </div>
                    
                    <!-- USER ADDED NOTES -->
                <!-- <div>
                        User Notes: 
                    <input type="text">
                    <p ng-model="image.userNotes" ng-src="{{image.userNotes}}"></p>
                </div> -->
            </div> 
                
                <!-- KEEP/DELETE BUTTONS -->
            <div class"cardBtns">
                <!-- <button class="keepItBtn" ng-click="()">Keep</button> -->
                <button id="deleteBtn" ng-click="deleteCardFunction(index)">Delete</button>
            </div>
        </div>
    </div>
    
</div>