<!-- Top Navbar contains "Logo" left "User Profile" center and "Logout" right-->
<!-- home page (on the left) // login (on the right)-->
<!-- (v2 have home be drop down including blog, games, and whatnot) -->

<nav class="navbar" ng-controller="navCtrl">
        <ul class="nav navbar-nav navbar-right">
            <li><img class="logo-icon" src="images/testLogo.png"></li>    
            <li><button ng-show="!isLoggedIn" ng-click="loginGoogle()" class="btn btn-info">Login</button></li>
            <li><button ng-show="isLoggedIn" ng-click="logOut()">Logout</button></li>
        </ul>
</nav>

 
