<!-- Top Navbar contains "Logo" left "User Profile" center and "Logout" right-->
<!-- home page (on the left) // login (on the right)-->
<!-- (v2 have home be drop down including blog, games, and whatnot) -->

<!-- ng-include"''"" -->

<nav class="navbar navbar-default" ng-controller="navCtrl">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
    <!-- Logo left -->

        <ul class="nav navbar-nav navbar-right">
            <li><img src="images/testLogo.png"></li>    
            <!-- <li><a ng-show="!isLoggedIn" ng-click="login()">Login</a></li>      -->
            <li><button ng-show="!isLoggedIn" ng-click="loginGoogle()" class="btn btn-info">Login</button></li>
            <li><button ng-show="isLoggedIn" ng-click="logOut()">Logout</button></li>
        </ul>
    
    </div><!-- /.navbar-collapse -->
</nav>

 
