<!-- Navbar up top "logo" left "Photo Tutor" center "logout" right -->
<!-- saved images and user notes main event -->

<div class="container container--auth">
        <nav class="navbar navbar-default" ng-controller="navCtrl">
            <ul>
                <li><img src="images/testLogo.png"></li>            
                <li><a href="partials/appHome.html">Back to Tutor</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
<!-- 
        ************************************
        ****Image Cards load show below, if user kept it***********
        ************************************ -->


</div>